.group {
    width: 220px;
    padding: 10px;
    background: #ddd;
    margin: 5px;
}

.group__header {
    display: flex;
    justify-content: flex-end;
}

.group__title {
    height: 35px;
    overflow: hidden;
    margin: 5px 0 10px;
}

.remove-group-btn,
.edit-group-btn {
    cursor: pointer;
    color: #777;
}

.edit-group-btn {
    margin-right: 7px;
}

.remove-group-btn:hover,
.edit-group-btn:hover{
    color: #222;
}