<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    Your name is <span>{{ name }}</span>
  </div>

  <input type="text" [(ngModel)]="name" />

  <div>
    <user-details [user]="selected"></user-details>

    <ul class="user-list">
      <li *ngFor = "let user of list" class="user-list__item"
        (click)="clickHandler(user)"
        [class.selected] = "selected === user">
        <div>
          User Name: <span>{{ user.name }}</span>
        </div>
        <div>
          Description: <span>{{ user.type }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

