extends layout

block content
  div#comments-wrapper
    h1 Comments List
    div.comment-form
      textarea.comment-form__textarea
      div
        button.comment-form__send-btn#add-comment-btn Add Comment
    div.comment-list
      - for (var i = 0; i < comments.length; i++) {
      div.comment
        div.logo
          img(src= comments[i].image.url )
        div.comment-details
          div.comment-details__author= comments[i].author
          div.comment-details__text= comments[i].text
          div.comment-details__date= comments[i].date
      - }