body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comment-form__textarea {
  width: 800px;
  height: 80px;
}

.comment {
  margin: 20px 0;
}
