body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comment-form__textarea {
  width: 800px;
  height: 80px;
}

.comment {
  display: flex;
  border: solid 1px #ddd;
  padding: 10px;
  margin: 20px 0;
}

.logo {
  min-width: 50px;
  margin: 0 10px;
}

.logo__image {
  width: 50px;
  height: auto;
}

.comment-details__author {
  font-size: 18px;
  font-weight: bold;
}

.comment-details__text {
  font-size: 14px;
  color: #222;
  margin: 10px 0 0;
}

.comment-details__date {
  font-size: 12px;
  color: #666;
  margin: 20px 0 0;
}
