.task {
    width: 200px;
    height: 100px;
    overflow: hidden;
    font-size: 13px;
    border-radius: 5px;
    border: solid 1px #555;
    background: #fff;
    margin: 5px 0;
    padding: 5px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.task__title {
    font-weight: bold;
    height: 62px;
    overflow: hidden;
}

.task__header {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
}

.remove-task-btn {
    color: #999;
}

.remove-task-btn:hover {
    color: #222;
}